@font-face {
  font-family: 'NBInternational';
  font-display: auto;
  src: url('/assets/fonts/NBInternational_Regular.ttf');
  font-weight: 100 500;
  font-style: normal;
}

@font-face {
  font-family: 'NBInternational';
  font-display: auto;
  src: url('/assets/fonts/NBInternational_Bold.ttf');
  font-weight: 600 900;
  font-style: normal;
}

@font-face {
  font-family: 'GT-Super';
  font-display: auto;
  src: url('/assets/fonts/GT-Super-Text-Book.ttf');
  font-weight: 100 500;
  font-style: normal;
}

:root {
  --ff-serif: "GT-Super", "Georgia", "Times", "Times New Roman";
  --ff-sanserif: "NBInternational", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --fontbold: 800;
  --fontregular: 400;

  --fontsm: .85rem;
  --fontmd: 1rem;
  --fontlg: 2rem;
  --fontxl: 4rem;

  --black: #000;
  --black2: rgba(15, 13, 32, 0.99);
  --black3: rgba(15, 13, 32, .5);
  --black4: rgb(136, 152, 170);
  --white: #fff;
  --white1: rgba(255, 255, 255, .7);
  --white2: #f7fafc;
  --white3: rgba(255, 255, 255, 0.1);

  --error: #ffa27b;
  --success: #21ffca;
  --success2: #96ffe6;
  --blue: #0900e0;
  --blue2: #001aff;
  --gray: #b5c7da;

  --baseborderpadding: 25px;
  --baseborderradius: 2px;

  --baseboxshadow: 0 1px 3px rgba(188, 193, 217, .12), 0 5px 12px rgba(188, 193, 217, .25);
  --boxshadow2: 0 13px 27px -5px rgba(50,50,93,.22), 0 8px 16px -8px rgba(0,0,0,.2);
}

::selection {
  background: var(--black2); /* WebKit/Blink Browsers */
  color: #fff;
}
::-moz-selection {
  background: var(--black2);/* Gecko Browsers */
  color: #fff;
}

* {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: "pnum";
  font-feature-settings: "pnum";
  font-variant-numeric: proportional-nums;
  font-family: var(--ff-sanserif);
  font-size: var(--fontmd);
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  transition: background .15s ease-in;
}

body[data-url="/"] {
  background: var(--white);
}

body[data-url="/setup"] {
  background: #022B3A;
}

a, button, input, select, textarea, label {
  -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

input:-webkit-autofill {
  -webkit-text-fill-color: #000;
  transition: background-color 100000000s;
}

body {
  margin: 0;
  padding: 0;
}
