@font-face {
  font-family: 'NBInternational';
  font-display: auto;
  src: url('/assets/fonts/NBInternational_Regular.ttf');
  font-weight: 100 500;
  font-style: normal;
}

@font-face {
  font-family: 'NBInternational';
  font-display: auto;
  src: url('/assets/fonts/NBInternational_Bold.ttf');
  font-weight: 600 900;
  font-style: normal;
}

@font-face {
  font-family: 'DomaineDisplayNarrow';
  font-display: auto;
  src: url('/assets/fonts/DomaineDisplayNarrow-Semibold.otf');
  font-weight: 100 900;
  font-style: normal;
}

:root {
  --ff-serif: "DomaineDisplayNarrow", "Georgia", "Times", "Times New Roman";
  --ff-sanserif: "NBInternational", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --fontbold: 800;
  --fontregular: 400;

  --fontxs: .75rem;
  --fontsm: .85rem;
  --fontmd: 1rem;
  --fontidk: 1.25rem;
  --fontlg: 3rem;
  --fontxl: 4.5rem;
  --baselineheight: 1.5rem;

  --black: #000;
  --black1: rgba(15, 13, 32, 0.99);
  --black2: rgba(0,0,0,.95);
  --white: #fff;
  --white1: rgba(255,255,255,.95);
  --white2: rgba(246, 250, 253, 0.9);
  --white3: rgba(255,255,255,.3);

  --gray: #F6FAFD;
  --gray1: #c6c9cc;
  --gray2: #606467;
  --gray3: #272635;
  --blue: #0b1cfd;
  --blue1: #2f5cff;
  --error: #ff6063;

  --c1: rgba(84, 247, 211, 0.3);
  --c2: rgba(126, 198, 255, 0.3);
  --c3: rgba(45, 184, 255, 0.3);
  --c4: rgba(255, 51, 51, 0.3);
  --c5: rgba(255, 123, 123, 0.3);
  --c6: rgba(11, 28, 253, 0.3);

  --baseborderpadding: 25px;
  --baseborderradius: 2px;

  --baseboxshadow: 0 1px 3px rgba(188, 193, 217, .12), 0 5px 12px rgba(188, 193, 217, .25);
  --boxshadow2: 0 13px 27px -5px rgba(50,50,93,.22), 0 8px 16px -8px rgba(0,0,0,.2);

  --cubic: cubic-bezier(0.42, 0, 0.59, 1.1);
  --cubic2: cubic-bezier(0.65,-0.22, 0.43, 0.72);
}

@media(max-width: 568px) {
  :root {
    --fontxl: 11vw;
    --fontlg: 9vw;
  }
}

::selection {
  background: #3C91F0; /* WebKit/Blink Browsers */
  color: #fff;
}
::-moz-selection {
  background: #3C91F0;/* Gecko Browsers */
  color: #fff;
}

* {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: "pnum";
  font-feature-settings: "pnum";
  font-variant-numeric: proportional-nums;
  font-family: var(--ff-sanserif);
  font-size: var(--fontmd);
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  height: 100%;
  position: relative;
}

@media(max-width: 568px) {
  html {
    min-height: 650px; 
    height: 100%;
  }
}

body {
  margin: 0;
  transition: background .15s ease-in;
}

body[data-url="/"] {
  background: var(--white);
}

body[data-url="/setup"] {
  background: var(--white);
}

a, button, input, select, textarea, label {
  -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

input:-webkit-autofill {
  -webkit-text-fill-color: var(--blue1);
  transition: background-color 100000000s;
}

body {
  margin: 0;
  padding: 0;
}

.hidden {
  opacity: 0;
  display: none;
}

.wizard {
  position: absolute;
  width: 100%;
  transition-property: opacity, transform;
}

.wizard-horizontal-right-enter-done,
.wizard-horizontal-left-enter-done {
  opacity: 1;
  transform: translateX(0);
  transition-duration: .2s;
  transition-timing-function: var(--cubic);
}

.wizard-horizontal-left-enter-active,
.wizard-horizontal-right-enter-active
{
  opacity: 0;
}
.wizard-horizontal-left-enter-active {
  transform: translateX(100px);
}
.wizard-horizontal-right-enter-active {
  transform: translateX(-100px);
}

.wizard-horizontal-left-exit-active, 
.wizard-horizontal-right-exit-active
{
  opacity: 0;
  transition-duration: .2s;
  transition-timing-function: var(--cubic); 
}
.wizard-horizontal-left-exit-active {
  transform: translateX(-100px);
}
.wizard-horizontal-right-exit-active {
  transform: translateX(100px);
}

.wizard-horizontal-right-exit-done {
  transform: translateX(-100px);
}
.wizard-horizontal-left-exit-done {
  transform: translateX(100px);
}

